@charset "UTF-8";
:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --tertiary-background-color: #2f303a;
  --accent-color: #2196f3;
  --primary-color-text: #212121;
  --secondary-color-text: #757575;
  --tertiary-color-text: #ffffff;
  --btn-color-filter-activ: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  --font-size-normal: 14px;
  --icon-color: #afb1b8;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* прибираю непотрібні заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.filter, .join__list, .footer__link, .cliens__list, .socials, .team__list, .section__list, .about__list, .contacts, .nav__list {
  list-style: none;
}

.join__link, .footer__contact, .footer__nav, .cliens__link, .contacts__data, .nav__link, .logo {
  text-decoration: none;
}

body {
  background: var(--primary-background-color);
  color: var(--primary-color-text);
  font-size: var(--font-size-normal);
  font-family: "Roboto", sans-serif;
}

/* reset */
/* Стили для обнуления верхних отступов у элементов  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul)  */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок  */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address  */
address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 93px;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo__header {
  color: #000000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
  position: relative;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.nav__link:hover,
.nav__link:focus,
.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
}

.contacts {
  margin-left: auto;
}
.contacts__item {
  display: inline-block;
}
.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}
.contacts .contacts__data:hover, .contacts .contacts__data:focus {
  color: var(--accent-color);
}
.contacts__icon {
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin: auto;
  background-color: var(--tertiary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.hero__btn {
  padding: 10px 32px 10px 32px;
}
.hero .overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border: none;
  font-size: 16px;
  font-family: inherit;
  min-width: 216px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--primary-background-color);
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.about {
  padding-top: 94px;
  padding-bottom: 0px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about__item {
  width: 270px;
}
.about__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about__description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}

.icon__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background: var(--secondary-background-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section__item {
  position: relative;
}
.section__overlay {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.section__text {
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  text-align: center;
  margin: 0 auto;
}
.team__item {
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__position {
  /* padding-bottom: 30px; */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--secondary-color-text);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: var(--icon-color);
  -webkit-transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
  background-color: var(--primary-background-color);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}
.socials__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
}

.cliens {
  padding-top: 94px;
  padding-bottom: 94px;
}
.cliens__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.cliens__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.cliens__item {
  width: 170px;
  height: 92px;
}
.cliens__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  -webkit-transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}
.cliens__link:hover, .cliens__link:focus {
  border-color: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--tertiary-background-color);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__studio {
  color: var(--tertiary-color-text);
}
.footer__nav {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}
.footer__nav:hover, .footer__nav:focus {
  color: var(--accent-color);
}
.footer__contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}
.footer__contact:hover,
.footer .footer__contact:focus {
  color: var(--accent-color);
}
.footer__link:not(:last-child) {
  margin-bottom: 9px;
}
.footer__list {
  padding: 0px;
}
.footer__contact {
  min-width: 231px;
  margin-right: 70px;
}

.join {
  margin-right: 93px;
}
.join__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  gap: 10px;
}
.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #ffffff;
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}
.join__text {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-background-color);
}
.subscribe__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  font-weight: 700;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  text-align: center;
  margin-bottom: 50px;
}
.filter__btn {
  background: #f5f4fa;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  padding: 6px 22px;
  color: var(--primary-color-text);
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-color-text);
  -webkit-box-shadow: var(--btn-color-filter-activ);
          box-shadow: var(--btn-color-filter-activ);
}
.filter__btn--activ {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  -webkit-box-shadow: var(--btn-color-filter-activ);
          box-shadow: var(--btn-color-filter-activ);
}/*# sourceMappingURL=main.css.map */